<div class="page-container">
  <div class="a-propos">
    <div class="section1">
      <img src="/assets/LG GROUPE_LOGO.png" />

      <h2 class="fly-in">VOTRE PARTENAIRE DE CONFIANCE SUR MESURE</h2>

      <h1 class="fly-in">SUPPORT AUX ENTREPRISES</h1>
      <div class="contenu">
        <div
          class="box"
          *ngFor="let item of menuItems"
          [ngClass]="{ active: item.isActive }"
        >
          <img src="{{ item.iconName }}" alt="comptabilité" />
          <h3>{{ item.Text }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="PAIE" class="container">
    <div class="column">
      <div class="title">
        <h2>GESTION DE LA PAIE</h2>
        <hr />
      </div>
      <div class="row">
        <div id="PAIE" class="first-column">
          <p>
            Nous assurons la conformité aux réglementations en matière de paie
            et nous garantissons que les employés reçoivent leurs compensations
            à temps. Notre service assure les taches suivantes : Collecte des
            Informations, Calcul des Salaire, Gestion des Avantages Sociaux,
            Conformité Légale, Déclarations Social, Édition des Bulletins de
            Paie, Gestion des Congés et Absences, Traitement des Prêts et
            Avance, Archivage et Documentation.
          </p>
        </div>
        <div class="second-column"></div>
        <div class="third-column">
          <img src="/assets/time.png" alt="Image de la société" />
          <h3>GESTION DE LA PAIE</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="HUMAINES" class="container">
    <div class="column">
      <div class="title">
        <h2>GESTION DES RESSOURCES HUMAINES</h2>
        <hr />
      </div>

      <div id="HUMAINESROW" class="row">
        
        <div id="HUMAINESBG" class="first-column">
          <p>
            Nous couvrons l'ensemble du cycle de gestion du personnel, de l'aide
            au recrutement à la rédaction de contrats, la gestion des bulletins
            de paie et des déclarations sociales. De plus, nous vous apportons
            un soutien précieux lors des contrôles d'inspection de travail et de
            sécurité sociale, assurant ainsi la conformité aux réglementations
            et le bien-être de vos employés.
          </p>
        </div>
        <div class="second-column"></div>
        <div class="third-column">
          <img src="/assets/humain.png" alt="Image de la société" />
          <h3>GESTION DES RESSOURCES HUMAINES</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="ADMINISTRATIF" class="container">
    <div class="column">
      <div class="title">
        <h2>SUPPORT ADMINISTRATIF</h2>
        <hr />
      </div>

      <div class="row">
        <div class="first-column">
          <p>
            Le service de support administratif inclut de multiples taches tel
            que la saisie de documents, la rédaction de rapports, la gestion des
            boîtes mail, la facturation et la relance client, il assure
            l'efficacité opérationnelle en veillant à l'accomplissement
            rigoureux de ces tâches. Notre service joue un rôle significatif
            dans la réussite de votre entreprise en simplifiant et en optimisant
            ces processus clés.
          </p>
        </div>
        <div class="second-column"></div>
        <div class="third-column">
          <img src="/assets/check.png" alt="Image de la société" />
          <h3>SUPPORT ADMINISTRATIF</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="INFORMATIQUE" class="container">
    <div class="column">
      <div class="title">
        <h2>SUPPORT INFORMATIQUE</h2>
        <hr />
      </div>

      <div class="row">
        <div id="INFORMATIQUEBG" class="first-column">
          <p>
            Chargé de fournir une assistance technique et opérationnelle aux
            utilisateurs internes en ce qui concerne les systèmes informatiques,
            les logiciels, le matériel, et autres technologies liées, ce service
            joue un rôle clé dans le maintien de la productivité et de la
            continuité des opérations.
          </p>
        </div>
        <div class="second-column"></div>
        <div class="third-column">
          <img src="/assets/informatique.png" alt="Image de la société" />
          <h3>SUPPORT INFORMATIQUE</h3>
        </div>
      </div>
    </div>
  </div>

  <app-containercontact></app-containercontact>
</div>
