<!-- <div class="a-propos">
  <div class="a-propos-text">
    <h2>QUI SOMMES-NOUS</h2>
    <img
      style="width: 200px"
      src="/assets/template 7Asset 10mdpi.png"
      alt="template 7Asset 10mdpi.png"
    />
    <p>
      Créée en 2016, LG Groupe a démarré son activité par le support
      administratif et financier puis a élargie son offre pour inclure la mise à
      disposition d’équipes dédiées. Nous proposons des solutions sur mesure,
      adaptées à vos besoins en termes d’expertise métier et à votre flux de
      travail. Nos équipes sont composées de professionnels qualifiés SERVICES
      SUPPORTS AUX ENTREPRISES CONTACT et expérimentés capable de fournir un
      service de très haute qualité. Nous croyons en des partenariats solides et
      durables, et nous nous engageons à aider nos clients à atteindre leurs
      objectifs de croissance et de rentabilité
    </p>
  </div>
  <div class="a-propos-image">
    <img src="/assets/img site-02.png" alt="Image de la société" />
  </div>
</div> -->
<div class="sup-container">
<div class="container">
<div class="a-propos">
  <div class="card"></div>
</div>
<div class="section-text">
  <h2>QUI SOMMES-NOUS</h2>
  <hr>
  <p>
    Créée en 2016, LG Groupe a démarré son activité par le support
    administratif et financier puis a élargie son offre pour inclure la mise à
    disposition d’équipes dédiées. Nous proposons des solutions sur mesure,
    adaptées à vos besoins en termes d’expertise métier et à votre flux de
    travail. Nos équipes sont composées de professionnels qualifiés
     et expérimentés capable de fournir un
    service de très haute qualité. Nous croyons en des partenariats solides et
    durables, et nous nous engageons à aider nos clients à atteindre leurs
    objectifs de croissance et de rentabilité
  </p>

</div>
<div class="white-container"></div>
</div></div>