<div class="nos-atouts" >
    <h2>NOS ATOUTS</h2>
    <img src="/assets/template 7Asset 10mdpi.png" alt="template 7Asset 10mdpi.png">

    <div class="atouts-list">
      <div class="atout">
        <div class="circle">
          <img src="assets/template 1 Asset 24mdpi.png" alt="Gain de Temps">
          <h3>Gain de Temps</h3>
        </div>
      </div>
      <div class="atout">
        <div class="circle">
          <img src="assets/template 1 Asset 25mdpi.png" alt="Réduction des coûts">
          <h3>Réduction des coûts</h3>
        </div>
      </div>
      <div class="atout">
        <div class="circle">
          <img src="assets/template 1 Asset 26mdpi.png" alt="Flexibilité">
          <h3>Flexibilité</h3>
        </div>
      </div>
      <div class="atout">
        <div class="circle">
          <img src="assets/template 1 Asset 27mdpi.png" alt="Compétences">
          <h3>Compétences</h3>
        </div>
      </div>
      <div class="atout">
        <div class="circle">
          <img src="assets/template 1 Asset 28mdpi.png" alt="Précision et conformité">
          <h3>Précision et conformité</h3>
        </div>
      </div>
    </div>
    
  </div>