<!-- <div >
<div class="page-container">
  <div>
  <div class="accueil">
    <div class="animated-section">
      <div class="a-propos-image">
        <img src="/assets/template 2Asset 3mdpi.png" alt="Image de la société">
      </div>
      <h1 id="title" class="fly-in">VOTRE PARTENAIRE DE
        CONFIANCE SUR
        MESURE</h1>
      <p id="description">LG Groupe est bien plus qu'une simple société de services. Notre vocation est 
        de simplifier l'administration des fonctions de support en offrant des solutions
        agiles et alignées sur vos objectifs globaux. Ce qui nous distingue c'est notre 
        engagement envers l'innovation, notre capacité à anticiper l'évolution de vos 
        besoins. Notre équipe hautement qualifiée offre à nos clients des solutions sur 
        mesure, une flexibilité incomparable et un partenariat basé sur la confiance.</p> -->
<!--<a (click)="toggleText()" *ngIf="!showFullText">Lire plus</a>
      <p class="additional-text" *ngIf="showFullText">offre à nos clients des solutions sur mesure, une flexibilité incomparable, et un partenariat basé sur la confiance. 
        Bienvenue chez LG Groupe, où l'excellence est notre devise. 
      </p>
      -->
<!-- </div>
  </div>
  <div style="height: 100px;width: 100%; background-color: white"></div>

  <div class="menu" id="menu">
    <div class="contenu" style="width: 100%;">
      <div>
        <div class="imbox" style="display: flex; flex-direction: row; justify-items: space-between;">

   
        <div id="image-box" class="image-box" >
          <img   src="/assets/Asset1.png" alt="support" >
          <p id="card-text" >MISE À DISPOSITION D'ÉQUIPE DÉDIÉE</p>
        </div>
        <div id="image-box" class="image-box">
          <img class="second-image"  src="/assets/Asset2.png" alt="support" >
          <p id="card-text" >SUPPORT AUX ENTREPRISES</p>
        </div>
      </div> -->
<!-- Afficher le texte en bas de l'image -->
<!-- </div>
      
    </div>
  </div> 
</div> -->

<!-- <app-atout></app-atout>
  <app-caregorie></app-caregorie>
  <app-reference></app-reference>
  <app-containercontact></app-containercontact>  -->

<!-- </div> 
<app-lien></app-lien>
<app-atout></app-atout>

<app-chiffre></app-chiffre> -->
<!-- <app-caregorie></app-caregorie> -->
<!-- <app-reference></app-reference>
<app-containercontact></app-containercontact> 



  
</div> -->

<div>
  <div class="page-container">
    <div>
      <div class="accueil">
        <div class="container">
          <div class="container-image">
            <img src="/assets/LG GROUPE_LOGO.png" alt="Image de la société" />
          </div>
          <h1 class="container-title">
            VOTRE PARTENAIRE DE CONFIANCE SUR MESURE
          </h1>
          <p class="container-description">
            LG Groupe est bien plus qu'une simple société de services. Notre
            vocation est de simplifier l'administration des fonctions de support
            en offrant des solutions agiles et alignées sur vos objectifs
            globaux. Ce qui nous distingue c'est notre engagement envers
            l'innovation, notre capacité à anticiper l'évolution de vos besoins.
            Notre équipe hautement qualifiée offre à nos clients des solutions
            sur mesure, une flexibilité incomparable et un partenariat basé sur
            la confiance.
          </p>
          <!--<a (click)="toggleText()" *ngIf="!showFullText">Lire plus</a>
        <p class="additional-text" *ngIf="showFullText">offre à nos clients des solutions sur mesure, une flexibilité incomparable, et un partenariat basé sur la confiance. 
          Bienvenue chez LG Groupe, où l'excellence est notre devise. 
        </p>
        --></div>
      </div>
      <div style="height: 100px; width: 100%; background-color: white"></div>

      <div class="menu" id="menu">
        <div class="contenu" style="width: 100%">
          <div>
            <div
              class="imbox"
              style="
                display: flex;
                flex-direction: row;
                justify-items: space-between;
              "
            >
              <div id="image-box" class="image-box">
                <img src="/assets/Asset1.png" alt="support" />
                <p id="card-text">MISE À DISPOSITION D'ÉQUIPE DÉDIÉE</p>
              </div>
              <div id="image-box" class="image-box">
                <img
                  class="second-image"
                  src="/assets/Asset2.png"
                  alt="support"
                />
                <p id="card-text">SUPPORT AUX ENTREPRISES</p>
              </div>
            </div>
            <!-- Afficher le texte en bas de l'image -->
          </div>
        </div>
      </div>
    </div>

    <!-- <app-atout></app-atout>
    <app-caregorie></app-caregorie>
    <app-reference></app-reference>
    <app-containercontact></app-containercontact>  -->
  </div>
  <app-lien></app-lien>
  <app-atout></app-atout>

  <app-chiffre></app-chiffre>
  <!-- <app-caregorie></app-caregorie> -->
  <app-reference></app-reference>
  <app-containercontact></app-containercontact>
</div>
