<div class="contact-container">
  <h2>CONTACTEZ-NOUS</h2>
  <button class="contact-button" href="/contact">CONTACT</button>
</div>
<div class="container">
  <div class="follow-us">
    <h6>FOLLOW US</h6>

    <a href="https://www.linkedin.com/company/lg-groupe-france/" fxFlex="0 0 auto">
      <img src="/assets/logo-linkedin.png" alt="Linkedin" />
    </a>
  </div>
  <div class="content-column">
    <img src="/assets/LG GROUPE_LOGO.png" alt="template 7Asset 10mdpi.png" />
    <h3 class="intro-text">
      VOTRE PARTENAIRE DE CONFIANCE CONFIANCE SUR MESURE
    </h3>
  </div>
  <div class="services">
    <div class="services-header">
      <h2>NOS SERVICES</h2>
      <div class="services-row">
        <div class="services-column">
          <a href="/equipe">
            <h3>MISE À DISPOSITION D'ÉQUIPE DÉDIÉE</h3></a
          >
          <div class="services-body">
            <div class="services-container">
              <a href="/equipe/#COMPTABLE"
                ><p>COMPTABILITÉ ET FINANCE</p></a
              >
              <a href="/equipe/#INGÉNIEURS"> <p>INGÉNIERIE</p></a>
              <a href="/equipe/#ASSISTANTES"> <p>SECRÉTARIAT</p></a>
            </div>
          </div>
        </div>
        <hr />

        <div class="services-column">
          <a href="/support"> <h3>SUPPORT AUX ENTREPRISES</h3></a>
          <div class="services-body">
            <div class="services-container">
              <a href="/support#PAIE"> <p>GESTION DE LA PAIE</p></a>
              <a href="/support#HUMAINES"
                ><p>GESTION DES RESSOURCES HUMAINES</p></a
              >
              <a href="/support#ADMINISTRATIF"
                ><p>SUPPORT ADMINISTRATIF</p></a
              >
              <a href="/support#INFORMATIQUE"
                ><p>SUPPORT INFORMATIQUE</p></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-information">
    <h2>CONTACT</h2>
    <div class="icon-container">
      <i class="fa-solid fa-phone"></i>
      <span class="icon-text">+33 (0) 372600503</span>
    </div>
    <div class="icon-container">
      <i class="fa-solid fa-envelope"></i>
      <span class="icon-text">INFO@LG-GROUPE.EU</span>
    </div>
    <div class="icon-container">
      <i class="fa-solid fa-location-dot"></i>
      <span class="icon-text"
        >BA 128, 19 RUE DU LIEUTENANT YVES LE SAUX, 57685 AUGNY, FRANCE</span
      >
    </div>

    <div style="margin-top: 20px">
      <iframe
        [width]="250"
        [height]="150"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d839.2055370123059!2d6.112569992108769!3d49.0732432457168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794db04fe6531cb%3A0x834c750e5d451006!2s128%20Rue%20du%20Lieutenant%20Yves%20le%20Saux%2C%2057685%20Augny%2C%20France!5e0!3m2!1sen!2stn!4v1702261716663!5m2!1sen!2stn"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
