<div class="page-container">

  <div class="custom-section">
    <div class="content">
      <h2>TITLE</h2>
      <p>Le service de mise à disposition de comptabilité pour LG GROUP est une solution professionnelle visant à fournir une expertise comptable externalisée et personnalisée pour répondre aux besoins spécifiques...</p>
      <a href="#">Lire plus</a>
    </div>
  </div>
  <section class="article-section">
    <div class="article-image">
      <img src="/assets/img site-12.png" alt="Image de l'article">
    </div>
    <div class="article-content">
      <div class="article-title">TITRE DE L'ARTICLE</div>
      <p>
        Le service de mise à disposition de comptabilité pour LG GROUP est une solution
        professionnelle visant à fournir une expertise comptable externalisée et personnalisée pour répondre aux besoins spécifiques de l'entreprise.
        Grâce à ce service, LG GROUP peut bénéficier d'une équipe de comptables expérimentés qui gèrent efficacement la tenue de ses comptes.
      </p>
    </div>
  </section>
  <section class="article2-section">
    <div class="article2-content">
      <div class="article2-title">TITRE DE L'ARTICLE</div>
      <p>
        Le service de mise à disposition de comptabilité pour LG GROUP est une solution
professionnelle visant à fournir une expertise comptable externalisée et personnalisée pour répondre aux besoins spécifiques de l'entreprise.
Grâce à ce service, LG GROUP peut bénéficier d'une équipe de comptables expérimentés qui gèrent efficacement la tenue de ses comptes
      </p>
    </div>
    <div class="article2-image">
      <img src="/assets/img site-11.png" alt="Image de l'article">
    </div>
  </section>
  <app-containercontact></app-containercontact>

</div>