<div class="nos-chiffres-cles" >
  <h1>NOS CHIFFRES CLÉS</h1>
  <img src="/assets/template 2Asset 12mdpi.png" alt="template 7Asset 10mdpi.png" >

  <div class="chiffre">
    <div class="chiffre-item">
      <div class="chiffre-content">
        <img src="assets/template 1 Asset 33mdpi.png" alt="Salariés">
        <strong>60</strong>
      </div>
      <div class="chiffre-description">SALARIÉS</div>
    </div>
    <div class="chiffre-item">
      <div class="chiffre-content">
        <img src="assets/template 1 Asset 34mdpi.png" alt="Millions d'Euros">
        <strong>1.5</strong>
      <div class="description">MILLIONS D'EUROS</div>
    </div>
      <div class="chiffre-description">CHIFFRES D'AFFAIRES</div>
    </div>
    <div class="chiffre-item">
      <div class="chiffre-content">
        <img src="assets/template 1 Asset 35mdpi.png" alt="Années d'expérience">
        <strong>8</strong>
      <div class="description">ANS</div>
    </div>
      <div class="chiffre-description">D'EXPERIENCE</div>
    </div>
  </div>
  </div>
